/* styles.css */

/* Fonts (local fallback) */
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf") format("truetype"),
    url("assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DM_Sans/static/DMSans-Medium.ttf") format("truetype"),
    url("assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --body-bg: hsl(243, 96%, 9%);
  --primary-text: hsl(0, 0%, 100%);
  --neutral-800: hsl(243, 27%, 20%);
  --border-600: hsl(243, 23%, 30%);
  --text-secondary:hsl(240, 6%, 70%);
  --highlight-color: hsl(243, 23%, 24%);
}

  body.light {
    --body-bg: hsl(0, 0%, 100%);
    /* white background */
    --primary-text: hsl(243, 96%, 9%);
    /* dark text */
    --neutral-800: hsl(0, 0%, 95%);
    /* light gray sections */
    --border-600: hsl(0, 0%, 80%);
    /* light border */
  }

::selection{
  background-color: var(--neutral-800);
  color: var(--primary-text);
  border-radius: 12px;
  padding: 8px 6px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
  outline: none;
}

body.imperial {
  font-family: 'DM Sans';
}

body.metric {
  font-family: "Bricolage Grotesque";

}

body {
  background-color: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: background all 0.3s;
  /* flex-direction: column; */
}

.app {
  margin-inline: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
}

.header {
  width: 100%;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.theme-toggle{
  width: 50px;
  height: 43px;
  padding: 8px 6px ;
  border-radius: 12px;
  background-color: var(--neutral-800);
  border: none;
  font-size: 1.2rem;
}
.units-dropdown {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.units-menu {
  display: none;
  position: absolute;
  right: 3rem;
  top: 5rem;
  align-self: baseline;
  flex-direction: column;
  width: 13.375rem;
  height: 25.75rem;
  background-color: var(--neutral-800);
  border: 1px solid var(--border-600);
  border-radius: 12px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem 0.4rem;
}

.units-menu-item {
  width: 198px;
  height: 39px;
  padding: 8px 10px;
  border: none;
  background-color: transparent;
  text-align: left;
  font-weight: medium;
}

.units-section {
  width: 198px;
  height: 113px;
  display: flex;
  flex-direction: column;
}

.header .logo-icon {
  width: auto;
  height: 2.3rem;
}

.units-btn {
  width: 119px;
  height: 43px;
  background-color: var(--neutral-800);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem 0.7333333333rem;
  border-radius: 8px;
}

.units-btn:hover+.units-menu {
  display: flex;
}
.units-label{
  height: 23px;
  padding: 8px 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--text-secondary);
}
.units-option{
  width: 198px;
  height: 39px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 6px;
  transition: background 0.3s;
}
.units-option img{
  display: none;
}
.units-option.active img{
display: flex;
}
.units-option.active{
  background-color: var(--highlight-color);
}

/* Loader container (fixed top) */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;          /* bar height */
  width: 0;             /* dynamic width */
  background-color: red; /* default color, JS me change karenge */
  z-index: 9999;
  transition: width 0.3s ease, background-color 0.3s ease;
  animation: width 0.9s linear infinite;
}


@keyframes width {
0%{
  width: 0;
  left: 0;
}
20%{
  width: 40%;
  left: 20%;
}
40%{
  width: 40%;
  left: 40%;
}
60%{
  width: 40%;
  left: 40%;
  
}
80%{
  width: 20%;
  left: 80%;
}
  100%{
    width: 0%;
    transition: all 0.3s;
    opacity: 0;
  }
  
}
.main{
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-title{
  font-size: 52px;
  font-weight: bold;
}
.search-section{
  height: 56px;
  width: 41rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
.search-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.show {
  transform: translateY(0);
  display: flex;
  pointer-events: auto;
}

.fade-in {
  animation: fadeIn 0.3s forwards;
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-10px); }
}.show {
  transform: translateY(0);
  display: flex;
  pointer-events: auto;
}

.fade-in {
  animation: fadeIn 0.3s forwards;
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-10px); }
}